<div id="loginOptionsContainer" style="display: none;">
    <div id="loginOptionsContent">
        <div class="loginOptionsMainContent">
            <h2><%- lang('loginOptions.loginOptionsTitle') %></h2>
            <div class="loginOptionActions">
                <div class="loginOptionButtonContainer">
                    <button id="loginOptionOffline" class="loginOptionButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
                            <path fill="#ffffff" d="M12 2a7 7 0 0 1 7 7c0 2.02-.85 3.84-2.22 5.13l2.75 2.74-1.41 1.41-2.74-2.75A6.96 6.96 0 0 1 12 16a7 7 0 1 1 0-14Zm0 2a5 5 0 1 0 0 10 5 5 0 0 0 0-10Zm-8.59 14.59L4.82 17l2.12 2.12-1.41 1.41-2.12-2.12Zm16.18 0 2.12 2.12-1.41 1.41L18.18 20l1.41-1.41Z"/>
                        </svg>
                        <span><%- lang('loginOptions.loginWithOffline') %></span>
                    </button>
                </div>
                <div class="loginOptionButtonContainer">
                    <button id="loginOptionAdmin" class="loginOptionButton">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24">
                            <path fill="#ffffff" d="M12 2a5 5 0 0 1 5 5v3h2a1 1 0 0 1 1 1v9a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-9a1 1 0 0 1 1-1h2V7a5 5 0 0 1 5-5Zm-3 8h6V7a3 3 0 0 0-6 0v3Z"/>
                        </svg>
                        <span><%- lang('loginOptions.adminPanel') %></span>
                    </button>
                </div>
            </div>
            <div id="loginOptionCancelContainer" style="display: none;">
                <button id="loginOptionCancelButton"><%- lang('loginOptions.cancelButton') %></button>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/loginOptions.js"></script>
</div>
